<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fas fa-shipping-fast" style="font-size: 40px">&nbsp;</i>

            <strong style="font-size: 30px;">Amajon</strong>
            
        </div>
            <button class="btn btn-primary btn-login" routerLink="/login">Login</button>
        <button class="btn btn-primary" routerLink="/cart/">
            <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
            <div class="badge bg-danger" style="font-size: 10px;"></div>
        </button>
    </div>
</header>